/* General App CSS */
html {
  font-family: "Fredoka One", cursive;
  color: white;
  background-color: black;
  scroll-behavior: smooth;
  background-image: url(../img/mckayla-crump-AjmBvSj_2IE-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

* {
  margin: 0%;
}

/* Navigation Bar CSS */
nav .container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  font-size: 20px;
  min-height: 7vh;
  position: fixed;
  z-index: 1;
}
.nav__logo {
  text-transform: capitalize;
  font-size: 21px;
}
.nav__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
}

li:hover {
  background-color: rgb(83, 69, 105);
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* General Section CSS */
section {
  padding: 90px 32px;
}
.container {
  text-align: center;
  width: 100%;
}
/* Home Section CSS */
.home__section {
  height: 450px;
}
.home__section .container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.home__header h1 {
  font-size: 80px;
  padding-bottom: 20px;
}
.home__header {
  color: rgb(0, 0, 0);
}
/* Social Media Icons CSS */
.fa {
  margin-top: 10px;
  padding: 30px;
  font-size: 60px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
}

.fa:hover {
  opacity: 0.77;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

/* About Section CSS */
.about__section {
  background-color: black;
}
.about__section h1 {
  font-size: 50px;
  padding-bottom: 100px;
}

.about__info {
  display: flex;
  justify-content: center;
  align-content: center;
}
.about__info img {
  border-radius: 50%;
  padding-bottom: 40px;
}
.about__info p {
  font-size: 27px;
  width: 600px;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
}

/* Resume Section CSS */
.resume__education h3,
.resume__education h4 {
  color: rgb(83, 69, 105);
}
.resume__section h1 {
  font-size: 50px;
  color: black;
}
.resume__education {
  background-color: white;
  color: rgb(43, 38, 49);
  text-align: left;
  padding: 20px, 8px, 30px, 20px;
  margin-top: 20px;
  opacity: 0.85;
}
.resume__education--1 {
  display: flex;
  align-items: center;
}
/* Contact Section CSS */
.contact__section {
  height: 700px;
  margin-bottom: 30px;
  background-color: black;
}
.contact__section h1 {
  font-size: 50px;
  padding-bottom: 20px;
}

nav [role="sub"] {
  background-color: white;
  color: black;
  opacity: 0.9;
}
